.p{
    color: blue;
    font-size: 16px;            
    background-attachment: fixed;
    color: aliceblue;
    text-align: center;
}

#small{
    font-size: 12px;
    color: gray;    
    text-align: left;
    background-attachment: scroll;
    background-color: lightgray;
}